# Data Science Tools and Ecosystem

## Author
Alessandro Sitta

In this notebook, Data Science Tools and Ecosystem are summarized.

<p> Objectives: </p>
    <p>&nbsp; -Popular Languages in Data Science </P>
    <p>&nbsp; -Libraries used in Data Sceicne </p>
    <p>&nbsp; -Arithmetic Expressions in Python </p>

<p> Some of the popular languages that Data Scientists use are: </p>
    <p>&nbsp; 1: Python </P>
    <p>&nbsp; 2: Scala </p>
    <p>&nbsp; 3: SQL </p>
    <p>&nbsp; 4: Java </p>

<p> Some of the commonly used libraries used by Data Scientists include: </p>
    <p>&nbsp; 1: Pandas </P>
    <p>&nbsp; 2: NumPy </p>
    <p>&nbsp; 3: Matplotlib </p>
    <p>&nbsp; 4: Keras </p>


|Data Science Tools|
---
|MySQL|
|MongoDB|
|ApacheAirflow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335